<div class="grid" style='width: 100%'>
  <div class="col-12 love-header">
    <div class='grid'>
      <div class="col-12 love-header-message">
        <h1 class="love-message">
          Love you Angie Anahí
        </h1>
        <svg class="pulse-heart" viewBox="0 0 32 29.6">
          <path
            d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
	c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>

<div class='grid md:hidden' style='width: 100%; margin: 0'>
  <div class='col-7'>
    <img
      class='love-image'
      style='height: 100%'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210829-WA0028.jpg"
      alt=""
    >
  </div>
  <div class='col-5' style='margin-bottom: 0'>
    <img
      style='height: 50%'
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210910-WA0012.jpg"
      alt=""
    >
    <img
      style='height: 50%'
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG_0321.jpg"
      alt=""
    >
  </div>
  <div class='col-12 ' style='margin-top: 0;'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210904-WA0095.jpg" alt="">
  </div>
  <div class='col-12 ' style='margin-top: -4px;'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210906-WA0031.jpg" alt="">
  </div>
  <div class='col-12'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210829-WA0034.jpg" alt="">
  </div>
  <div class='col-12'>
    <img
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/WikiFont_uniE033_-_heart_-_red.svg.png"
      alt=""
    >
  </div>
  <div class='col-7'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG_0457.jpg" alt="">
  </div>
  <div class='col-5' style='align-self: center'>
    <img
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/ce771927-ae07-4394-b509-74a28a141fd7.jpg"
      alt=""
    >
  </div>
  <div class='col-12'>
    <img
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/D0EAF21D-0B4C-4E2E-A22C-E4B42F8E7870.jpg"
      alt=""
    >
  </div>
  <div class='col-12'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/Infinity-Symbols-Frame.jpg" alt="">
  </div>
  <div class='col-6' style='align-self: center'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210904-WA0098.jpg" alt="">
  </div>
  <div class='col-6'>
    <img
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/cdf2bf50-725e-4a97-bc6a-c8f4674c81b2.jpg"
      alt=""
    >
  </div>
</div>

<div class='grid hidden md:flex' style='width: 99%; margin: auto; padding: 10px'>
  <div class='col-12'>
    <div class='grid'>
      <div class='col'>
        <img
          class='love-image'
          style='height: 100%'
          src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210829-WA0028.jpg"
          alt=""
        >
      </div>
      <div class='col'>
        <div class='grid p-flex-column'>
          <div class='col-12'>
            <div class='grid' style='margin-top: 1px;'>
              <div class='col-6'>
                <img
                  class='love-image'
                  src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210910-WA0012.jpg"
                  alt=""
                >
              </div>
              <div class='col-6'>
                <img
                  class='love-image'
                  src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG_0321.jpg"
                  alt=""
                >
              </div>
            </div>
          </div>
          <div class='col-12'>
            <div class='grid'>
              <div class='col-6'>
                <img
                  class='love-image'
                  src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210829-WA0034.jpg"
                  alt=""
                >
              </div>
              <div class='col-6'>
                <img
                  class='love-image'
                  src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210906-WA0031.jpg"
                  alt=""
                >
              </div>
            </div>
          </div>
          <div class='col-12'>
            <img
              class='love-image'
              src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210904-WA0095.jpg"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-4'>
    <img
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/ce771927-ae07-4394-b509-74a28a141fd7.jpg"
      alt=""
    >
  </div>
  <div class='col-4' style='align-self: center'>
    <img
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/WikiFont_uniE033_-_heart_-_red.svg.png"
      alt=""
    >
  </div>
  <div class='col-4'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG_0457.jpg" alt="">
  </div>
  <div class='col-12'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/Infinity-Symbols-Frame.jpg" alt="">
  </div>
  <div class='col-4'>
    <img
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/D0EAF21D-0B4C-4E2E-A22C-E4B42F8E7870.jpg"
      alt=""
    >
  </div>
  <div class='col-4' style='align-self: center'>
    <img class='love-image' src="https://public-jdev.s3.us-east-2.amazonaws.com/love/IMG-20210904-WA0098.jpg" alt="">
  </div>
  <div class='col-4'>
    <img
      class='love-image'
      src="https://public-jdev.s3.us-east-2.amazonaws.com/love/cdf2bf50-725e-4a97-bc6a-c8f4674c81b2.jpg"
      alt=""
    >
  </div>
</div>

<div class='grid md:hidden' style='width: 100%; margin-top: -4px; margin-left: 0'>
  <div class="col-12 heart-container">
    <h1 class="love-message">
      14/08/2021 - ∞
    </h1>
  </div>
</div>

<div class='grid hidden md:flex' style='width: 50%; margin: auto'>
  <div class="col-12 heart-container">
    <h1 class="love-message">
      14/08/2021 - ∞
    </h1>
  </div>
</div>
